<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/Estilo.css">
	<link rel="stylesheet" href="/static/css/Estilo2.css">
	<link rel="stylesheet" href="/static/css/Animation.css">

	

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="slick/slick.css" />
	<link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />

	<link href="https://fonts.googleapis.com/css2?family=Mitr:wght@500;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

	<link rel="stylesheet" href="/static/css/footer-with-button-logo.css">
	<script type="text/javascript" src="/static/css/tempo.js"></script>
	<title>Lajes Tocantins</title>


</head>

<body style="background-color: #f1f1f1">
	<section id="home">
		<div class="container d-flex justify-content-between ">
			<span class="logo animat-up">
				<img src="/static/img/Logo.png" class="img-fluid">

			</span>

			<ul class="navbar iconeslogo animat-up">
				<div>
					<li class="emaillogo"> <img src="/static/img/o-email.png"> </li>
					<i>lajestocantins@gmail.com</i>
				</div>

				<div class="iconeslogo2 animat-up">
					<li><img src="/static/img/whatsapp.png" alt=""></li>
					<i>(63)3214-2400</i>
				</div>
			</ul>
		</div>
		</div>
	</section>

<section>
	<div>

		<nav class="navbar navbar-expand-sm animat-up " id="barra">
			<!-- Inicio Menu -->



			<div class="container ">
				<div class="container justify-content-end">
					<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
						<span class="navbar-toggler-icon"><img src="/static/img/cardapio (2).png" alt=""> </span>
					</button>
				</div>
				<div class="collapse navbar-collapse menuuu" id=navbarSupportedContent>

					<ul class="navbar-nav menuBar">
						<li><a href="/index" class="nav-link">INICIO</a></li>
						<li><a href="/empresa" class="nav-link">EMPRESA</a></li>
						<li><a href="/produtos" class="nav-link">PRODUTOS</a></li>
						
						
						<li><a href="/contato" class="nav-link">CONTATO</a></li>

					</ul>
				</div>
			</div>
		</nav><!-- Fim Menu -->
	</div>
</section>
	<main>

<section>
	

{% block content %}

{% endblock content %}



</section>











	<section>
		<div class="mt-5">

		</div>
	</section>
	<section>
		<div class="mt-5">

		</div>
	</section>
	<footer id="myFooter" class=" mt-5 bg-dark fontetexto animat-up">
		<div class="container justify-content-center">

			<div class="row container justify-content-center">
				<div class="col-sm-2">
					<div class="logobaixo justify-content-start">

						<img src="/static/img/Logo3.png" alt="">
					</div>

				</div>
				<div class="col-sm-1 col-md-2">
				</div>


				<div class="col-sm-2">


					<h5>Home</h5>
					<ul class="menu">
						<li><a href="#home">Inicio</a></li>
						<li><a href="#empresa">Empresa</a></li>
						<li><a href="#produto">Produtos</a></li>
						<li><a href="#contato">Contato</a></li>
					</ul>
				</div>



				<div class="col-sm-1 col-md-2">

					<h5>Produtos</h5>
					<ul>
						<li><a href="/lajetreliçada">Laje Treliçada</a></li>
						<li><a href="/lajecovencional">Laje Bidirecional</a></li>
						<li><a href="/lajebidirecional">Laje Convencional</a></li>
						<li><a href="/Pingadeira"></a></li>
						<li><a href="/postes">Postes</a></li>
						<li><a href="/pingadeira">Eps</a></li>
					</ul>
				</div>

				<div class="col-sm-2 col-md-2 col-lg-2">

					<div class="social-networks">
						<a href="https://api.whatsapp.com/send?phone=556332142400&text=Boa%20tarde!," class="twitter"><i
								class="fa fa-whatsapp"></i></a>
						<a href="https://www.facebook.com/lajestocantins" class="facebook"><i
								class="fa fa-facebook"></i></a>
						<a href="https://www.instagram.com/lajes_tocantins/" class="instagram"><i
								class="fa fa-instagram"></i></a>
					</div>

				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<p>© 2020 Copyright - Lajes Tocantins</p>
		</div>
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.5.1.js"
		integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>

</html>