{% extends 'Empresa/base.html'  %}

{% block content %}
	
	<section class="mt-5 fontetexto FontenomeGrande animat-up" id="produto"><!-- Inicio Lajes Tocantins, Ajuando a Constuir Sonhos! -->
		<div class="container" >
			<h2 class="content justify-content-center" >
				<font >
					Lajes Tocantins, Ajudando a Constuir Sonhos!
				</font>

			</h2>
			<h5> 
				<font style="text-align: justify">
					Com o objetivo de trabalhar para elaborar artefatos de concreto armado capazes de proporcionar qualidade de vida, segurança e bem estar, a Lajes Tocantins está sempre investindo e aperfeiçoando seus produtos de forma a continuar superando as expectativas dos clientes.
					As matérias-primas utilizadas são diretamente selecionadas na indústria siderúrgica e cimenteira, uma estrutura de profissionais altamente capacitados, especializados em produzir soluções técnicas para vários tipos de obra.
					Com esse leque de recursos a disposição, a Lajes Tocantins se tornou sinônimo de qualidade e segurança no ramo de pré-fabricados, conquistando cada vez mais novos clientes.

				</font>
			</h5>
			
		</div>
	</section><!-- Fim Lajes Tocantins, Ajuando a Constuir Sonhos! -->


	<div class="row content justify-content-center mt-5 animat-up" id="produto">

		<div class="col-lg-3 col-sm-1 col-md-3 figure">		

			<img src="/static/img/contrato (1).png" alt="" class="img-fluid misaovalorvisao" >
			<h3>
				MISSÃO
			</h3>
			<h5>
				Temos a Missão de garantir não só as 
				necessidades de nossos clientes, mas também 
				a concretização de uma parceria duradoura, 
				possibilitando à satisfação em ambas as 
				partes por meio do 	fornecimento de nossos 
				produtos e serviços prestados.
			</h5>


		</div>
		<div class="col-lg-3 col-sm-1 col-md-3 figure misaovalorvisaotext animat-up">					
			<img src="/static/img/lucros.png"  class="img-fluid misaovalorvisao" >
			<h3>
				VISÃO
			</h3>

			<h5>
				Ser referência nacional em lajes pré-moldadas e artefatos de concreto, tendo como diferencial: qualidade, atendimento e segurança.
			</h5>
		</div>



		<div class="col-lg-3 col-sm-1 col-md-3 content figure animat-up">		

			<img src="/static/img/acordo.png" alt="" class="img-fluid misaovalorvisao">
			<h3>
				VALORES
			</h3>
			<h5>
				Ética,Compromisso,
				Solidez, Resultado,
				Inovação e Simplicidade

			</h5>

			
		</div>
	</div>










{% endblock content %}
