<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/Estilo.css">
	<link rel="stylesheet" href="/static/css/Estilo2.css">
	<link rel="stylesheet" href="/static/css/Animation.css">

	

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="slick/slick.css" />
	<link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />

	<link href="https://fonts.googleapis.com/css2?family=Mitr:wght@500;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

	<link rel="stylesheet" href="/static/css/footer-with-button-logo.css">
	<script type="text/javascript" src="/static/css/tempo.js"></script>
	<title>Lajes Tocantins</title>


</head>

<body style="background-color: #f1f1f1">
	<section id="home">
		<div class="container d-flex justify-content-between ">
			<span class="logo animat-up">
				<img src="/static/img/Logo.png" class="img-fluid">

			</span>

			<ul class="navbar iconeslogo animat-up">
				<div>
					<li class="emaillogo"> <img src="/static/img/o-email.png"> </li>
					<i>lajestocantins@gmail.com</i>
				</div>

				<div class="iconeslogo2 animat-up">
					<li><img src="/static/img/whatsapp.png" alt=""></li>
					<i>(63)3214-2400</i>
				</div>
			</ul>
		</div>
		</div>
	</section>


	<div>

		<nav class="navbar navbar-expand-sm animat-up " id="barra">
			<!-- Inicio Menu -->



			<div class="container ">
				<div class="container justify-content-end">
					<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
						<span class="navbar-toggler-icon"><img src="/static/img/cardapio (2).png" alt=""> </span>
					</button>
				</div>
				<div class="collapse navbar-collapse menuuu" id=navbarSupportedContent>

					<ul class="navbar-nav menuBar">

						<li><a href="/index" class="nav-link">INICIO</a></li>
						<li><a href="/empresa" class="nav-link">EMPRESA</a></li>
						<li><a href="/produtos" class="nav-link">PRODUTOS</a></li>					
						
						<li><a href="/contato" class="nav-link">CONTATO</a></li>

					</ul>
				</div>
			</div>
		</nav><!-- Fim Menu -->
	</div>
	<main>
		<section>
			<!-- Inicio slider -->
			<div class="animat-up">


				<img src="/static/img/BANNER.jpg" style="width:100%">
			</div>
		</section><!-- Fim slider -->




		<section id="telainicial">
			<div class="FontenomeGrande fontetexto">

				<div class="row content justify-content-center mt-5 animat-up">

					<div class="col-lg-3 col-sm-3 col-md-4  figure mt-5">

						<img src="/static/img/QuemSomosEmpresa.png" alt="" class="img-fluid misaovalorvisao">

						<h3 class="QuemSOmosAltura">
							QUEM SOMOS
						</h3>
						<div class="TextoAltura85">
							<h5>
								Fabricante de lajes há mais de 9 anos, atende em Palmas obras de pequeno, médio e grande
								porte.
							</h5>
						</div>


					</div>




					<div class="col-lg-3 col-sm-3 col-md-4  figure misaovalorvisaotext mt-5 animat-up">
						<img src="/static/img/medalha.png" class="img-fluid misaovalorvisao">
						<h3>
							QUALIDADE
						</h3>
						<div class="TextoAltura85">
							<h5>
								Nossos produtos passam constantemente por testes de qualidade, para oferecer o melhor
								para você.
							</h5>
						</div>

					</div>







					<div class="col-lg-3 col-sm-3 col-md-4 content figure mt-5 animat-up">

						<img src="/static/img/projeto.png" alt="" class="img-fluid misaovalorvisao">
						<h3>
							PROJETO
						</h3>
						<div class="TextoAltura85">
							<h5>
								Cada laje é única, então nossa equipe analisa cada projeto para dimensioná-lo de acordo
								com cada necessidade.

							</h5>
						</div>



					</div>





					<div class="col-lg-3 col-sm-3 col-md-4  content figure mt-5 animat-up">

						<img src="/static/img/trabalho-em-equipe.png" alt="" class="img-fluid misaovalorvisao">
						<h3>
							EQUIPE
						</h3>
						<div class="TextoAltura85">
							<h5>
								A Lajes Tocantins, conta com funcionários de alto gabarito no quesito fabricação de
								pré-moldados de concreto.

							</h5>
						</div>

					</div>



					<div class="col-lg-3 col-sm-3 col-md-4  content figure mt-5 animat-up">

						<img src="/static/img/chamada-telefonica.png" alt="" class="img-fluid misaovalorvisao">
						<h3>
							ATENDIMENTO
						</h3>
						<div class="TextoAltura85">
							<h5>
								Nossa equipe comercial está pronta para analisar seu projeto e oferecer as melhores
								soluções.

							</h5>
						</div>

					</div>
				</div>






			</div>
		</section>






		<section class="mt-5 empresas Soli2" id="imgempresa">
			<!-- Inicio Quem Somos -->

			<div class="conteudoempresa animat-up" id="empresa">


				<div class=" fghy imgemp" >
					<img class="img" src="/static/img/img1.jpg" style="height: auto; width: 100%; 	" >
				</div>


				<div class="textem fontetexto fghy"
					style="background: linear-gradient(329.54deg, #0087FF 0%, #0459A4 100%); height: 300px; ">
					<h2 style="color: white; " class="FontenomeGrande">
						EMPRESA
					</h2>
					<h4 style="color: white; text-align: JUSTIFY">
						Com o objetivo de trabalhar para elaborar artefatos de concreto armado capazes de proporcionar
						qualidade de vida, segurança e bem estar, a Lajes Tocantins está sempre investindo e
						aperfeiçoando seus produtos de forma a continuar superando as expectativas dos clientes.
						As matérias-primas utilizadas são diretamente selecionadas na indústria siderúrgica e
						cimenteira, uma estrutura de profissionais altamente capacitados, especializados em produzir
						soluções técnicas para vários tipos de obra.
						Com esse leque de recursos a disposição, a Lajes Tocantins se tornou sinônimo de qualidade e
						segurança no ramo de pré-fabricados, conquistando cada vez mais novos clientes.
					</h4>

					<div class="bbtn123456">
						<a href="/empresa">
							<span>
								<button type="button" class="btn252530 btnempresa  btn-default">SAIBA MAIS</button>
							</span>
						</a>
					</div>
				</div>

			</div>
		</section><!-- Fim Quem Somos -->


		<section class="mt-5  produtoss animat-up" id="produto">
			<!-- Inicio produtos -->
			<div class="container Soli2">
				<h2 class="content justify-content-center">

					NOSSOS PRODUTOS

				</h2>


				<div class="row justify-content-center">

					<div class=" cards produtoss animat-up ProdutoColor">


						<h4 class="content justify-content-center TEX">
							LAJE TRELIÇADA
						</h4>
						<figure class="">
							<img src="/static/img/lajetrelicada.jpg" alt="" class="img-fluid img-thumbnail">
						</figure>
						<div class="btnProdutosVermais">
							<h5>
								A Laje Treliçada é um elemento pré fabricado composto de uma base de concreto estrutural
								e armação treliçada, e recebe enchimento de cerâmica ou EPS.
							</h5>

						</div>

						<div class=" content justify-content-center btnProdutosVermais ">
							<a href="/lajetreliçada" class="content justify-content-center">
								VER MAIS
							</a>
						</div>

					</div>



					<div class=" cards produtoss animat-up ProdutoColor">


						<h4 class="content justify-content-center TEX">
							LAJE CONVENCIONAL
						</h4>
						<figure class="">
							<img src="/static/img/lajecovencional.jpg" alt="" class="img-fluid img-thumbnail">
						</figure>
						<div class="btnProdutosVermais">
							<h5>
								A Laje Treliçada é um elemento pré fabricado composto de uma base de concreto estrutural
								e armação treliçada, e recebe enchimento de cerâmica ou EPS.
							</h5>

						</div>

						<div class=" content justify-content-center btnProdutosVermais ">
							<a href="/lajecovencional" class="content justify-content-center">
								VER MAIS
							</a>
						</div>


					</div>




					<div class=" cards produtoss animat-up ProdutoColor">


						<h4 class="content justify-content-center TEX">
							LAJE BIDIRECIONAL
						</h4>
						<figure class="">
							<img src="/static/img/lajetrelicada.jpg" alt="" class="img-fluid img-thumbnail">
						</figure>
						<div class="btnProdutosVermais">
							<h5>
								A Laje Treliçada é um elemento pré fabricado composto de uma base de concreto estrutural
								e armação treliçada, e recebe enchimento de cerâmica ou EPS.
							</h5>

						</div>

						<div class=" content justify-content-center btnProdutosVermais ">
							<a href="/lajebidirecional" class="content justify-content-center">
								VER MAIS
							</a>
						</div>


					</div>



					<div class=" cards produtoss animat-up ProdutoColor">


						<h4 class="content justify-content-center TEX">
							POSTES
						</h4>
						<figure class="">
							<img src="/static/img/lajetrelicada.jpg" alt="" class="img-fluid img-thumbnail">
						</figure>
						<div class="btnProdutosVermais">
							<h5>
								A Laje Treliçada é um elemento pré fabricado composto de uma base de concreto estrutural
								e armação treliçada, e recebe enchimento de cerâmica ou EPS.
							</h5>

						</div>

						<div class=" content justify-content-center btnProdutosVermais ">
							<a href="/postes" class="content justify-content-center">
								VER MAIS
							</a>
						</div>


					</div>




					<div class=" cards produtoss animat-up ProdutoColor">


						<h4 class="content justify-content-center TEX">
							PINGADEIRA
						</h4>
						<figure class="">
							<img src="/static/img/lajetrelicada.jpg" alt="" class="img-fluid img-thumbnail">
						</figure>
						<div class="btnProdutosVermais">
							<h5>
								A Laje Treliçada é um elemento pré fabricado composto de uma base de concreto estrutural
								e armação treliçada, e recebe enchimento de cerâmica ou EPS.
							</h5>

						</div>

						<div class=" content justify-content-center btnProdutosVermais ">
							<a href="/pingadeira" class="content justify-content-center">
								VER MAIS
							</a>
						</div>


					</div>




					<div class=" cards produtoss animat-up ProdutoColor">


						<h4 class="content justify-content-center TEX">
							EPS
						</h4>
						<figure class="">
							<img src="/static/img/lajetrelicada.jpg" alt="" class="img-fluid img-thumbnail">
						</figure>
						<div class="btnProdutosVermais">
							<h5>
								A Laje Treliçada é um elemento pré fabricado composto de uma base de concreto estrutural
								e armação treliçada, e recebe enchimento de cerâmica ou EPS.
							</h5>

						</div>

						<div class=" content justify-content-center btnProdutosVermais ">
							<a href="/eps" class="content justify-content-center">
								VER MAIS
							</a>
						</div>


					</div>







				</div>
				<div class="row ">




				</div>
			</div>


			</div>
		</section><!-- Fim produtos -->



		<section style="background-color: #343a40 " class="orçamentoaaa mt-4" id="contato">
			<div class="mt-5 container justify-content-center Soli animat-up">
				<h2 style="text-align: center;">
					SOLICITE SEU ORÇAMENTO
				</h2>
			</div>

		</section>


		<section class="mt-4">
			<!-- Inicio Contato -->



			</h2>
			<div class=" container navbar fontetexto">
				<span>
					<div>
						<ul>
							<div class="iconecontato animat-up">
								<li><img src="/static/img/marcador-de-mapa.png" alt=""></li>
								<li>(63)812 Sul - Alameda 2, lt 18 - Plano Diretor Sul - Palmas, TO</li>
							</div>

							<div class="iconecontato animat-up">
								<li class="emailcontato"> <img src="/static/img/o-email.png"> </li>
								<li>lajestocantins@gmail.com</li>
							</div>

							<div class="iconecontato animat-up">
								<li><img src="/static/img/chamada-telefonica32px.png" alt=""></li>
								<li>(63)3214-2400</li>
							</div>
							<div class="iconecontato animat-up">
								<li><img src="/static/img/whatsapp.png" alt=""></li>
								<li>(63)3214-2400|(63)98456-5646</li>
							</div>
							<div class="iconecontato animat-up">
								<li><img src="/static/img/relogioLI.png" alt=""></li>
								<li>Segunda a Sexta: 8h às 18h | Sábados, Domingos e Feriados: Fechado</li>
							</div>



						</ul>
					</div>

				
			

		</section><!-- Fim Contato -->


		<section>
			<!-- Parceiros -->
			<div id="produto" class="mt-5 animat-up">
				<div class="container ">
					<h2 class="content justify-content-center ">


						FORNECEDORES


					</h2>
					<div class="content justify-content-center animat-up">
						<h4 style="text-align: center;">
							Trabalhamos com os melhores fornecedores para garantir o melhor produto.
						</h4>
					</div>

					<!------ Include the above in your HEAD tag ---------->

					<div class="container mt-5 animat-up">
						<div class="w3-row-padding w3-section blog">
							<div class="col-md-12">
								<div id="blogCarousel" class="carousel slide" data-ride="carousel">
									<div class="carousel-inner">
										<div class="carousel-item active">
											<div class="row">
												<div class="w3-col s4">
													<a href="#">
														<img src="/static/img/isofort.png" alt="Image" style=" height: 90px; ">
													</a>
												</div>
												<div class="w3-col s4">
													<a href="#">
														<img src="/static/img/arcelormittals.jpg" alt="Image"
															style="height: 90px;">
													</a>
												</div>
												<div class="w3-col s4">
													<a href="#">
														<img src="/static/img/vatorantin.jpg" alt="Image" style="height: 85px;">
													</a>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


	</main>





	<!--

<footer class="mt-5 bg-dark"> 
<div class="container d-flex justify-content-between">
	<span class="copy mt-4">
		Copyright 2020	
	</span>
	

	
	<ul class="navbar icones mt-4">

		<li><a href="https://www.instagram.com/lajes_tocantins/" class="text-hide">Instagram</a></li>
		<li><a href="https://api.whatsapp.com/send?phone=556332142400&text=Boa%20tarde!," class="text-hide">Whatssapp</a></li>
		<li><a href="https://www.facebook.com/lajestocantins" class="text-hide">Facebook</a></li>

	</ul>
</div>
</footer>
-->



	<section>
		<div class="mt-5">

		</div>
	</section>
	<section>
		<div class="mt-5">

		</div>
	</section>
	<footer id="myFooter" class=" mt-5 bg-dark fontetexto animat-up">
		<div class="container justify-content-center">

			<div class="row container justify-content-center">
				<div class="col-sm-2">
					<div class="logobaixo justify-content-start">

						<img src="/static/img/Logo3.png" alt="">
					</div>

				</div>
				<div class="col-sm-1 col-md-2">
				</div>


				<div class="col-sm-2">


					<h5>Home</h5>
					<ul class="menu">
						<li><a href="#home">Inicio</a></li>
						<li><a href="#empresa">Empresa</a></li>
						<li><a href="#produto">Produtos</a></li>
						<li><a href="#contato">Contato</a></li>
					</ul>
				</div>



				<div class="col-sm-1 col-md-2">

					<h5>Produtos</h5>
					<ul>
						<li><a href="/lajetreliçada">Laje Treliçada</a></li>
						<li><a href="/lajecovencional">Laje Bidirecional</a></li>
						<li><a href="/lajebidirecional">Laje Convencional</a></li>
						<li><a href="/Pingadeira"></a></li>
						<li><a href="/postes">Postes</a></li>
						<li><a href="/pingadeira">Eps</a></li>
					</ul>
				</div>

				<div class="col-sm-2 col-md-2 col-lg-2">

					<div class="social-networks">
						<a href="https://api.whatsapp.com/send?phone=556332142400&text=Boa%20tarde!," target="_blank" class="twitter"><i
								class="fa fa-whatsapp"></i></a>
						<a href="https://www.facebook.com/lajestocantins" target="_blank" class="facebook"><i
								class="fa fa-facebook"></i></a>
						<a href="https://www.instagram.com/lajes_tocantins/" target="_blank" class="instagram"><i
								class="fa fa-instagram"></i></a>
					</div>

				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<p>© 2020 Copyright - Lajes Tocantins</p>
		</div>
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.5.1.js"
		integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>

</html>