{% extends 'Empresa/base.html'  %}


{% block content %}


		<section class="mt-5  produtoss animat-up" id="produto">
			<!-- Inicio produtos -->
			<div class="container Soli2">
				<h2 class="content justify-content-center">

					NOSSOS PRODUTOS

				</h2>


				<div class="row justify-content-center">

					<div class=" cards produtoss animat-up ProdutoColor">


						<h4 class="content justify-content-center TEX">
							LAJE TRELIÇADA
						</h4>
						<figure class="">
							<img src="/static/img/lajetrelicada.jpg" alt="" class="img-fluid img-thumbnail">
						</figure>
						<div class="btnProdutosVermais">
							<h5>
								A Laje Treliçada é um elemento pré fabricado composto de uma base de concreto estrutural
								e armação treliçada, e recebe enchimento de cerâmica ou EPS.
							</h5>

						</div>

						<div class=" content justify-content-center btnProdutosVermais ">
							<a href="/lajetreliçada" class="content justify-content-center">
								VER MAIS
							</a>
						</div>

					</div>



					<div class=" cards produtoss animat-up ProdutoColor">


						<h4 class="content justify-content-center TEX">
							LAJE CONVENCIONAL
						</h4>
						<figure class="">
							<img src="/static/img/lajecovencional.jpg" alt="" class="img-fluid img-thumbnail">
						</figure>
						<div class="btnProdutosVermais">
							<h5>
								A Laje Treliçada é um elemento pré fabricado composto de uma base de concreto estrutural
								e armação treliçada, e recebe enchimento de cerâmica ou EPS.
							</h5>

						</div>

						<div class=" content justify-content-center btnProdutosVermais ">
							<a href="/lajecovencional" class="content justify-content-center">
								VER MAIS
							</a>
						</div>


					</div>




					<div class=" cards produtoss animat-up ProdutoColor">


						<h4 class="content justify-content-center TEX">
							LAJE BIDIRECIONAL
						</h4>
						<figure class="">
							<img src="/static/img/lajetrelicada.jpg" alt="" class="img-fluid img-thumbnail">
						</figure>
						<div class="btnProdutosVermais">
							<h5>
								A Laje Treliçada é um elemento pré fabricado composto de uma base de concreto estrutural
								e armação treliçada, e recebe enchimento de cerâmica ou EPS.
							</h5>

						</div>

						<div class=" content justify-content-center btnProdutosVermais ">
							<a href="/lajebidirecional" class="content justify-content-center">
								VER MAIS
							</a>
						</div>


					</div>



					<div class=" cards produtoss animat-up ProdutoColor">


						<h4 class="content justify-content-center TEX">
							POSTES
						</h4>
						<figure class="">
							<img src="/static/img/lajetrelicada.jpg" alt="" class="img-fluid img-thumbnail">
						</figure>
						<div class="btnProdutosVermais">
							<h5>
								A Laje Treliçada é um elemento pré fabricado composto de uma base de concreto estrutural
								e armação treliçada, e recebe enchimento de cerâmica ou EPS.
							</h5>

						</div>

						<div class=" content justify-content-center btnProdutosVermais ">
							<a href="/postes" class="content justify-content-center">
								VER MAIS
							</a>
						</div>


					</div>




					<div class=" cards produtoss animat-up ProdutoColor">


						<h4 class="content justify-content-center TEX">
							PINGADEIRA
						</h4>
						<figure class="">
							<img src="/static/img/lajetrelicada.jpg" alt="" class="img-fluid img-thumbnail">
						</figure>
						<div class="btnProdutosVermais">
							<h5>
								A Laje Treliçada é um elemento pré fabricado composto de uma base de concreto estrutural
								e armação treliçada, e recebe enchimento de cerâmica ou EPS.
							</h5>

						</div>

						<div class=" content justify-content-center btnProdutosVermais ">
							<a href="/pingadeira" class="content justify-content-center">
								VER MAIS
							</a>
						</div>


					</div>




					<div class=" cards produtoss animat-up ProdutoColor">


						<h4 class="content justify-content-center TEX">
							EPS
						</h4>
						<figure class="">
							<img src="/static/img/lajetrelicada.jpg" alt="" class="img-fluid img-thumbnail">
						</figure>
						<div class="btnProdutosVermais">
							<h5>
								A Laje Treliçada é um elemento pré fabricado composto de uma base de concreto estrutural
								e armação treliçada, e recebe enchimento de cerâmica ou EPS.
							</h5>

						</div>

						<div class=" content justify-content-center btnProdutosVermais ">
							<a href="/eps" class="content justify-content-center">
								VER MAIS
							</a>
						</div>


					</div>







				</div>
				<div class="row ">




				</div>
			</div>


			</div>
		</section><!-- Fim produtos -->
{% endblock content %}